<header>
  <section  id="slide" class="container Slide">
   <div class="row align-items-center">
     <div class="col-sm">
       <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top ">
         <a class="navbar-brand" href="index.html"><img img-fluid src="../backend/public/img/logo.png" alt="Logo GeeksHub Travels"
             class="logo"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBurguer"
           aria-controls="menuBurguer" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="menuBurguer">
           <ul class="navbar-nav mr-auto menu ">
             <li class="nav-item ">
               <a class="nav-link" href="#slide">Destinos
                 <span class="sr-only"></span>
                 </a>  
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#quienesSomos">Quién Somos</a>
                 </li>
                 <li class="nav-item ocultarDonde">
                   <a class="nav-link" href="#dondeEstamos">Donde Estamos</a>
                 </li>
                 <li class="nav-item ocultarLogin">
                   <a class="nav-link" href="./login.html">Login</a>
                 </li>
                 <li class="nav-item ocultarLogin">
                   <a class="nav-link" href="./registro.html">Registro</a>
                 </li>
                 </ul>
               
               <div class="icoSociale">
               <ul class="navbar-nav sociale">
                 <li class="nav-sociale active">
                   <a class="nav-link" href="#">
                     <i class="fa fa-facebook-square" style="font-size:20px;"></i></a>
                 </li>
                 <li class="nav-sociale active">
                   <a class="nav-link" href="#">
                     <i class="fa fa-instagram" style="font-size:20px;"></i></a>
                 </li>
                 <li class="nav-sociale active">
                   <a class="nav-link" href="#">
                     <i class="fa fa-twitter-square" style="font-size:20px;"></i></a>
                 </li>
                 <li class="nav-sociale active">
                   <a class="nav-link" href="#">
                     <i class="fa fa-linkedin-square" style="font-size:20px;"></i></a>
                 </li>
                 <li class="nav-sociale active">
                   <a class="nav-link" href="#">
                     <i class="fa fa-whatsapp" style="font-size:20px;"></i></a>
                 </li>
                 <li class="nav-sociale active">
                   <a class="nav-link" href="#">
                     <i class="fa fa-youtube-play" style="font-size:20px;"></i></a>
                 </li>
               </ul>
             </div>
       </nav>


     </div>
   </div>
 </section>
 <section id="Slide">

   <div id=textSlide class="col-sm-6">
     <h1>Viaja!</h1>
     <h3>Descubre lugares maravillosos!</h3>
     <button class="btn btn-warning">ver destinos</button>
   </div>

 </section>
</header>